body {
    background-color: pink;
}

li {
    font-style: italic;   
}

.important{
    font-weight: bold;
    font-family: Times;
    font-size: 20px;
    color: red;
}

img {
    border-style: solid;
    border-color: blue;
}